# Ignorer les données brutes géantes (utilisées seulement pour l'entraînement)
data/train.csv
data/test.csv
data/sample_submission.csv
!data/train_sample.csv

# Ignorer l'environnement virtuel local
venv/
.venv/
env/

# Ignorer les dossiers de cache Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les dossiers de gestion de version et IDE
.git
.gitignore
.vscode
.idea

# Ignorer les notebooks (utilisés pour l'EDA seulement)
notebooks/
