# Virtual Environment
venv/
.venv/
env/

# Data Files (Excluding large 5GB dataset)
data/*.csv
data/*.zip

# Model Serialization
models/*.pkl

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Documents à ne pas push
IA_Justifications.md
presentation.md
